/* line 1, ../scss/layout.scss */
body {
  margin-top: 15px;
}

/* line 5, ../scss/layout.scss */
.bg-overlay-panel {
  padding: 0.5em 1em;
}

/* line 9, ../scss/layout.scss */
.page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

/* line 16, ../scss/layout.scss */
.row-lower-content {
  display: flex;
  flex-wrap: wrap;
}

/* line 21, ../scss/layout.scss */
.lower-content-col {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

/* line 27, ../scss/layout.scss */
.lower-content-block-wrapper {
  width: 100%;
  padding: 1em;
}
/* line 31, ../scss/layout.scss */
.lower-content-block-wrapper .block-title {
  margin-top: 0px;
}

/* line 37, ../scss/layout.scss */
#block-views-block-my-projects-block-1 .pager-nav, #block-views-block-news-items-block-1 .pager-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 45, ../scss/layout.scss */
#block-views-block-my-projects-block-1 .list-group-item {
  display: flex;
}
/* line 49, ../scss/layout.scss */
#block-views-block-my-projects-block-1 .views-field-field-project-image {
  float: left;
}
/* line 53, ../scss/layout.scss */
#block-views-block-my-projects-block-1 .views-field-title {
  float: right;
  display: flex;
  align-items: center;
}

/* line 60, ../scss/layout.scss */
article.node > header > .node__meta {
  margin: 0.75em 0;
  font-size: 0.75em;
  color: darkslategrey;
  border-bottom: 1px dashed darkslategrey;
}

/* line 70, ../scss/layout.scss */
.page-node-type-project .field--name-field-source-link {
  margin-top: 1em;
}
