/* line 1, ../scss/style.scss */
body {
  background: url("../images/code-screenshot-background-3.jpg") left top;
  background-attachment: fixed;
}

/* line 7, ../scss/style.scss */
#block-views-block-news-items-block-1 .views-field-created {
  font-size: 0.7em;
}

/* line 12, ../scss/style.scss */
#block-projects h2:first-of-type {
  margin-top: 0;
}

/* line 19, ../scss/style.scss */
#block-views-block-news-items-block-1 .more-link,
#block-views-block-news-items-block-2 .more-link,
#block-views-block-news-items-block-3 .more-link {
  text-align: center;
}

/* line 27, ../scss/style.scss */
.page-node-type-project .field--name-field-project-image img {
  box-shadow: 3px 3px 0 darkslategrey;
}
