body {
  margin-top: 15px;
}

.bg-overlay-panel {
  padding: 0.5em 1em;
}

.page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.row-lower-content {
  display: flex;
  flex-wrap: wrap;
}

.lower-content-col {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.lower-content-block-wrapper {
  width: 100%;
  padding: 1em;

  .block-title {
      margin-top: 0px;
  }
}

#block-views-block-my-projects-block-1, #block-views-block-news-items-block-1 {
  .pager-nav {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#block-views-block-my-projects-block-1 {
  .list-group-item {
      display: flex;
  }

  .views-field-field-project-image {
    float: left;
  }

  .views-field-title {
    float: right;
    display: flex;
    align-items: center;
  }
}

article.node > header > .node__meta {
  margin: 0.75em 0;
  font-size: 0.75em;
  color: darkslategrey;
  border-bottom: 1px dashed darkslategrey;
}

// Styles specific to project pages

.page-node-type-project {
  .field--name-field-source-link {
    margin-top: 1em;
  }
}