body {
  background: url('../images/code-screenshot-background-3.jpg') left top;
  background-attachment: fixed;
}

#block-views-block-news-items-block-1 {
  .views-field-created {
    font-size: 0.7em;
  }
}

#block-projects h2:first-of-type {
  margin-top: 0;
}

#block-views-block-news-items-block-1,
#block-views-block-news-items-block-2,
#block-views-block-news-items-block-3 {
  .more-link {
    text-align: center;
  }
}

// Styles specific to project pages

.page-node-type-project {
  .field--name-field-project-image img {
    box-shadow: 3px 3px 0 darkslategrey;
  }
}